In [1]:
import pandas as pd
import random
import datetime as dt
from faker import Faker

In [2]:
fake = Faker()

In [3]:
for _ in range(20):
  print(fake.name())

Karen Morgan
Nathan Franco
Emily Edwards
Malik Brock
Melissa Turner
Craig Franco
Emily Martinez
Tina Jacobs
Kimberly Hill
Mark Robinson
Thomas Vega
Charles Rivera
Karen Schmidt
Lisa Jones
Michael Roberson
Brian Travis
Robert Spencer
Paige Smith
Paula Serrano
Michael Brown

In [4]:
## sample dataset

In [5]:
df = pd.read_csv('../datasets/test_dataset1.csv', parse_dates=['purchased_date'])

In [6]:
df_original = df.copy()

In [7]:
df

,user_id,name,item,amount,category_id,purchased_quantity,purchased_date
0,1004,Donna Martin,TV,199.95,14,1,2020-04-04
1,1004,Donna Martin,Vaccum,95.12,15,2,2020-05-12
2,1003,Bobby Bradley,Cup,12.76,44,1,2020-05-13
3,1011,Austin Thomas,Plate,5.55,156,1,2020-05-14
4,1000,Jonathan Medina,Lotion,4.44,23,2,2020-05-15
5,1000,Jonathan Medina,Toothbrush,5.96,123,1,2020-05-16
6,1019,Brandon Beasley,Sanitizer,2.23,12,3,2020-05-17
7,1011,Austin Thomas,Wine,15.67,122,1,2020-04-04
8,1014,Susan Morales,Yoga mat,45.53,1212,2,2020-04-05
9,1001,Rachael Massey,Beer,2.45,42,4,2020-04-06
10,1005,Ross Strickland,Coffee,8.45,356,5,2020-04-07
11,1014,Susan Morales,Lotion,4.44,23,3,2020-04-08
12,1020,Jennifer Cox,Coffee,8.45,356,4,2020-04-09
13,1001,Danny Lynn DDS,TV,199.95,14,2,2020-04-10
14,1019,Brandon Beasley,Vaccum,95.12,15,6,2020-05-06
15,1006,Ashley Nichols,Sanitizer,2.23,12,1,2020-05-07
16,1015,Angela Oneill,Wine,15.67,122,2,2020-05-08
17,1009,Cody Moreno,Plate,5.55,156,4,2020-05-09
18,1005,Douglas Atkinson,TV,199.95,14,1,2020-05-10
19,1016,Ellen Mccarthy,Vaccum,95.12,15,1,2020-05-11

In [8]:
## replace names

In [9]:
unique_names = df['name'].unique()

In [10]:
unique_names

array(['Donna Martin', 'Bobby Bradley', 'Austin Thomas',
       'Jonathan Medina', 'Brandon Beasley', 'Susan Morales',
       'Rachael Massey', 'Ross Strickland', 'Jennifer Cox',
       'Danny Lynn DDS', 'Ashley Nichols', 'Angela Oneill', 'Cody Moreno',
       'Douglas Atkinson', 'Ellen Mccarthy'], dtype=object)

In [11]:
name_dict = {name: fake.name() for name in unique_names}

In [12]:
name_dict

{'Donna Martin': 'Richard Harris DDS',
 'Bobby Bradley': 'Aaron Gallegos',
 'Austin Thomas': 'Howard Thomas',
 'Jonathan Medina': 'Felicia Reynolds MD',
 'Brandon Beasley': 'Hunter Davidson',
 'Susan Morales': 'Matthew Garcia',
 'Rachael Massey': 'Michael Long',
 'Ross Strickland': 'Ryan Melton',
 'Jennifer Cox': 'Christopher Hawkins',
 'Danny Lynn DDS': 'Susan Summers',
 'Ashley Nichols': 'Jaime Cooper',
 'Angela Oneill': 'Ruth Medina',
 'Cody Moreno': 'Robert Brown',
 'Douglas Atkinson': 'Nicole Newton',
 'Ellen Mccarthy': 'Kaitlyn Gibson'}

In [13]:
df['name'] = df['name'].map(name_dict)

In [14]:
## replace ids

In [15]:
unique_ids = df['user_id'].unique()

In [16]:
id_dict = {id_: fake.bban() for id_ in unique_ids}

In [17]:
id_dict

{1004: 'RSBJ06934559884607',
 1003: 'MMGG75106666265568',
 1011: 'VKKF09955534977533',
 1000: 'YXRM33961496937181',
 1019: 'ETML73570585385287',
 1014: 'SQZO25459914972527',
 1001: 'YQMU44020867087731',
 1005: 'SJVP24080675540085',
 1020: 'ACIK96484930708140',
 1006: 'DADE92558114142905',
 1015: 'ITVP10053562819477',
 1009: 'MWPN13984004206227',
 1016: 'BMPX17955070692669'}

In [18]:
fake.bban()

'YLRD88698401897530'

In [19]:
df['user_id'] = df['user_id'].map(id_dict)

In [20]:
## replace whole numbers

In [21]:
whole_numbers = df['purchased_quantity']

In [22]:
whole_number_dict = {
    number: fake.random_int(
        min=min(whole_numbers), max=max(whole_numbers)
    )
    for number in whole_numbers
}

In [23]:
whole_number_dict

{1: 6, 2: 1, 3: 5, 4: 5, 5: 5, 6: 5}

In [24]:
df['purchased_quantity'] = df['purchased_quantity'].map(whole_number_dict)

In [25]:
## replace decimal numbers

In [26]:
decimal_numbers = df['amount']

In [27]:
decimal_number_dict = {
    number: round(random.uniform(
        min(decimal_numbers), max(decimal_numbers)
    ), 2)
    for number in decimal_numbers
}

In [28]:
decimal_number_dict

{199.95: 148.24,
 95.12: 31.57,
 12.76: 57.0,
 5.55: 123.9,
 4.44: 130.69,
 5.96: 75.35,
 2.23: 39.89,
 15.67: 22.49,
 45.53: 22.97,
 2.45: 141.01,
 8.45: 95.52}

In [29]:
df['amount'] = df['amount'].map(decimal_number_dict)

In [30]:
## category

In [31]:
category = df['item']

In [32]:
category

0             TV
1         Vaccum
2            Cup
3          Plate
4         Lotion
5     Toothbrush
6      Sanitizer
7           Wine
8       Yoga mat
9           Beer
10        Coffee
11        Lotion
12        Coffee
13            TV
14        Vaccum
15     Sanitizer
16          Wine
17         Plate
18            TV
19        Vaccum
Name: item, dtype: object

In [33]:
unique_category = category.unique()

In [34]:
rand_category = random.randint(0,1000)
category_dict = {
    category:  "Category_" + str(rand_category) + " " +str(iteration)
    for iteration, category in enumerate(unique_category)
}

In [35]:
category_dict

{'TV': 'Category_691 0',
 'Vaccum': 'Category_691 1',
 'Cup': 'Category_691 2',
 'Plate': 'Category_691 3',
 'Lotion': 'Category_691 4',
 'Toothbrush': 'Category_691 5',
 'Sanitizer': 'Category_691 6',
 'Wine': 'Category_691 7',
 'Yoga mat': 'Category_691 8',
 'Beer': 'Category_691 9',
 'Coffee': 'Category_691 10'}

In [36]:
df['item'] = df['item'].map(category_dict)

In [37]:
### dates

In [38]:
dates = df['purchased_date']

In [39]:
fake.date_between(start_date=dates.min(), end_date=dates.max())

datetime.date(2020, 4, 5)

In [40]:
dates_dict = {
    date: fake.date_between(start_date=dates.min(), end_date=dates.max()).strftime('%Y-%m-%d')
    for date in dates
}

In [41]:
dates_dict

{Timestamp('2020-04-04 00:00:00'): '2020-04-13',
 Timestamp('2020-05-12 00:00:00'): '2020-05-16',
 Timestamp('2020-05-13 00:00:00'): '2020-04-24',
 Timestamp('2020-05-14 00:00:00'): '2020-04-14',
 Timestamp('2020-05-15 00:00:00'): '2020-04-10',
 Timestamp('2020-05-16 00:00:00'): '2020-05-16',
 Timestamp('2020-05-17 00:00:00'): '2020-05-04',
 Timestamp('2020-04-05 00:00:00'): '2020-04-24',
 Timestamp('2020-04-06 00:00:00'): '2020-04-23',
 Timestamp('2020-04-07 00:00:00'): '2020-05-08',
 Timestamp('2020-04-08 00:00:00'): '2020-05-02',
 Timestamp('2020-04-09 00:00:00'): '2020-04-25',
 Timestamp('2020-04-10 00:00:00'): '2020-04-07',
 Timestamp('2020-05-06 00:00:00'): '2020-05-11',
 Timestamp('2020-05-07 00:00:00'): '2020-04-11',
 Timestamp('2020-05-08 00:00:00'): '2020-04-22',
 Timestamp('2020-05-09 00:00:00'): '2020-04-19',
 Timestamp('2020-05-10 00:00:00'): '2020-04-26',
 Timestamp('2020-05-11 00:00:00'): '2020-05-12'}

In [42]:
df['purchased_date'] = df['purchased_date'].map(dates_dict)

In [44]:
df_original

,user_id,name,item,amount,category_id,purchased_quantity,purchased_date
0,1004,Donna Martin,TV,199.95,14,1,2020-04-04
1,1004,Donna Martin,Vaccum,95.12,15,2,2020-05-12
2,1003,Bobby Bradley,Cup,12.76,44,1,2020-05-13
3,1011,Austin Thomas,Plate,5.55,156,1,2020-05-14
4,1000,Jonathan Medina,Lotion,4.44,23,2,2020-05-15
5,1000,Jonathan Medina,Toothbrush,5.96,123,1,2020-05-16
6,1019,Brandon Beasley,Sanitizer,2.23,12,3,2020-05-17
7,1011,Austin Thomas,Wine,15.67,122,1,2020-04-04
8,1014,Susan Morales,Yoga mat,45.53,1212,2,2020-04-05
9,1001,Rachael Massey,Beer,2.45,42,4,2020-04-06
10,1005,Ross Strickland,Coffee,8.45,356,5,2020-04-07
11,1014,Susan Morales,Lotion,4.44,23,3,2020-04-08
12,1020,Jennifer Cox,Coffee,8.45,356,4,2020-04-09
13,1001,Danny Lynn DDS,TV,199.95,14,2,2020-04-10
14,1019,Brandon Beasley,Vaccum,95.12,15,6,2020-05-06
15,1006,Ashley Nichols,Sanitizer,2.23,12,1,2020-05-07
16,1015,Angela Oneill,Wine,15.67,122,2,2020-05-08
17,1009,Cody Moreno,Plate,5.55,156,4,2020-05-09
18,1005,Douglas Atkinson,TV,199.95,14,1,2020-05-10
19,1016,Ellen Mccarthy,Vaccum,95.12,15,1,2020-05-11

In [43]:
df

,user_id,name,item,amount,category_id,purchased_quantity,purchased_date
0,RSBJ06934559884607,Richard Harris DDS,Category_691 0,148.24,14,6,2020-04-13
1,RSBJ06934559884607,Richard Harris DDS,Category_691 1,31.57,15,1,2020-05-16
2,MMGG75106666265568,Aaron Gallegos,Category_691 2,57.00,44,6,2020-04-24
3,VKKF09955534977533,Howard Thomas,Category_691 3,123.90,156,6,2020-04-14
4,YXRM33961496937181,Felicia Reynolds MD,Category_691 4,130.69,23,1,2020-04-10
5,YXRM33961496937181,Felicia Reynolds MD,Category_691 5,75.35,123,6,2020-05-16
6,ETML73570585385287,Hunter Davidson,Category_691 6,39.89,12,5,2020-05-04
7,VKKF09955534977533,Howard Thomas,Category_691 7,22.49,122,6,2020-04-13
8,SQZO25459914972527,Matthew Garcia,Category_691 8,22.97,1212,1,2020-04-24
9,YQMU44020867087731,Michael Long,Category_691 9,141.01,42,5,2020-04-23
10,SJVP24080675540085,Ryan Melton,Category_691 10,95.52,356,5,2020-05-08
11,SQZO25459914972527,Matthew Garcia,Category_691 4,130.69,23,5,2020-05-02
12,ACIK96484930708140,Christopher Hawkins,Category_691 10,95.52,356,5,2020-04-25
13,YQMU44020867087731,Susan Summers,Category_691 0,148.24,14,1,2020-04-07
14,ETML73570585385287,Hunter Davidson,Category_691 1,31.57,15,5,2020-05-11
15,DADE92558114142905,Jaime Cooper,Category_691 6,39.89,12,6,2020-04-11
16,ITVP10053562819477,Ruth Medina,Category_691 7,22.49,122,1,2020-04-22
17,MWPN13984004206227,Robert Brown,Category_691 3,123.90,156,5,2020-04-19
18,SJVP24080675540085,Nicole Newton,Category_691 0,148.24,14,6,2020-04-26
19,BMPX17955070692669,Kaitlyn Gibson,Category_691 1,31.57,15,6,2020-05-12